<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>授权</title>
	</head>
	<body>
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<script type="text/javascript" src="../mui/js/jquery-1.8.3.js" ></script>
		<script>
		 
		 var urlStr='';

		 urlStr+='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8f600f6da5379290&redirect_uri=';
		 urlStr+='http://qmyj.100dz.cn/qmyj/view/shareAB.html'
		 urlStr+='&response_type=code&scope=snsapi_userinfo&state=reefbfbfbffbfbbffbmsjdkelkdffnfnfnfgfgfhgxjgs'
		 window.location.href=urlStr;
	//	window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8f600f6da5379290&redirect_uri=http://qmyj.100dz.cn/qmyj/view/shareAB.html&response_type=code&scope=snsapi_userinfo&state=reefbfbfbffbfbbffbmsjdkelkdffnfnfnfgfgfhgxjgs";
				//window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8f600f6da5379290&redirect_uri=http://www.qianmocn.com/qmyj/view/shareAB.html&response_type=code&scope=snsapi_userinfo&state=reefbfbfbffbfbbffbmsjdkelkdffnfnfnfgfgfhgxjgs";	
				
			     
			
		</script>
	</body>
</html>
